@model DoctorAppointmentBookingSystem.Data.Tbl_MaritalStatus
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Marital Status</h2>
<form action="/MaritalStatus/Update?id=@Model.Id" method="post">
    <div class="mb-3">
        <label class="form-label">Marital Status</label>
        <input type="text" class="form-control" value="@Model.Name" name="Name">
    </div>
    <a href="/MaritalStatus" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

