
@{
    ViewBag.Title = "Create";
}

<h2>Create Name Type</h2>
<form action="/NameType/Save" method="post">
    <div class="mb-3">
        <label class="form-label">Name Type</label>
        <input type="text" class="form-control" name="Type">
    </div>
    <a href="/NameType" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

