@model DoctorAppointmentBookingSystem.Data.Tbl_Speciality
@{
    ViewBag.Title = "Edit";
}
<h2>Edit Speciality</h2>
<form action="/Speciality/Update?id=@Model.Id" method="post">
    <div class="mb-3">
        <label class="form-label">Speciality</label>
        <input type="text" class="form-control" value="@Model.Name" name="Name">
    </div>
    <a href="/Speciality" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

